#form-fields{
    margin-top:5%;
}

#form-table{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.colform{
    display: flex;
    flex-direction:column;
    justify-content: left;
    width: 40%;
    margin: 2%;
    height: 20vh;
}


.inform{
    margin: 1%;
}
