* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
*{
  box-sizing:border-box;
}
body, html{
  margin:0;
  padding:0;
  width:100%;
  height:100%;
  overflow: hidden;
}
.row{
  display:flex;
  justify-content:flex-start;
  align-items:stretch;
  flex-wrap:nowrap;
  padding:10px;
}
.cell{
  min-height:75px;
  flex-grow:1;
  flex-basis:100%;
}
#i10d{
  background-image:linear-gradient(#0159a1 0%, #0159a1 100%);
  height:100%;
}
#ilv1{
  flex-basis:88%;
  float:none;
  margin:0px 0 0px 0px;
}
.alert p{
  font-size:1.6rem;
  margin:0;
  padding:0;
}
.gjs-row{
  height: 100px;
  width: 500px;
  display:flex;
  justify-content:flex-start;
  align-items:stretch;
  flex-wrap:nowrap;
  padding:10px;
}
.gjs-row1{
  display:flex;
  justify-content:flex-start;
  align-items:stretch;
  flex-wrap:nowrap;
  padding:10px;
}
.gjs-cell{
  min-height:75px;
  flex-grow:1;
  flex-basis:100%;
}
#i3o4w{
  height:107%;
  padding:0px 0px 0px 0px;
}
#i354b{
  padding:0px 0px 0px 0px;
}
#ib1q8{
  padding:10px;
  font-size:50px;
  max-width:80%;
  margin:15px 0px 0px 15px;
  color:#0159a1;
}
#ih6m4{
  padding:10px;
  font-size:30px;
  margin:0 0 0 50px;
}
#iqdmx{
  padding:10px;
  font-size:30px;
  margin:0 0 0 50px;
}
#i9r1o{
  border-radius:15px 15px 15px 15px;
  background-repeat:repeat;
  background-position:left top;
  background-attachment:scroll;
  background-size:auto;
  background-image:linear-gradient(#0159a1 0%, #0159a1 100%);
  font-size:30px;
  color:white;
  margin:0px 0px 0px 15%;
  width:400px;
  height:70%;
  cursor: pointer;
}
#iqygw{
  font-size:30px;
  border-radius:15px 15px 15px 15px;
  margin:0 0 0 50px;
  max-width:90%;
  width:80%;
}
#ik8a2{
  font-size:30px;
  border-radius:15px 15px 15px 15px;
  margin:0 0 0 50px;
  width:80%;
  max-width:90%;
}
#i221g{
  min-height:0px;
}
#iwo1e{
  flex-basis:79%;
}
#iv1jg{
  height:165px;
}
#iz94e{
  height:151px;
}
#it69l{
  height:131px;
}
#ijhjw{
  color:black;
  height:100%;
  width:100%;
}
#i0ktk{
  color:black;
  width:220px;
  height:90px;
}
@media (max-width: 992px){
  #ijhjw{
    height:161%;
  }
  #i9r1o{
    margin:0px 0px 0px 0%;
  }
}
@media (max-width: 768px){
  .gjs-row{
    flex-wrap:wrap;
  }
}
@media (max-width: 480px){
  #ib1q8{
    max-width:70%;
  }
  #iqygw{
    max-width:50%;
  }
  #ik8a2{
    max-width:50%;
  }
  #i9r1o{
    width:50%;
    margin:0px 0px 0px 20%;
  }
  #it69l{
    height:161px;
  }
  #ijhjw{
    height:0%;
    width:0%;
  }
}
