
body {
  margin: 0;
  display: flexbox;
}
*{
  box-sizing:border-box;
}

.gjs-row{
  display:flex;
  justify-content:flex-start;
  align-items:stretch;
  flex-wrap:nowrap;
  padding:10px;
  width: 100%;
}
.gjs-row1{
  display:flex;
  justify-content:flex-start;
  align-items:stretch;
  flex-wrap:nowrap;
  padding:10px;
  width: 100%;
  height: 95%;
}
.gjs-cell{
  flex-grow:1;
  flex-basis:100%;
}
.gjs-cell1{
  height: 10%;
  flex-grow:1;
  flex-basis:100%;
}
#iwqlh{
  padding:10px;
  margin:5% 0 0 0;
}
#i61jk8{
  background-repeat:repeat;
  background-position:left top;
  background-attachment:scroll;
  background-size:auto;
  background-image:linear-gradient(white 0%, white 100%);
  border-radius:15px 0px 0px 15px;
}
#iymgd{
  border-radius:0px 15px 15px 0px;
  background-repeat:repeat;
  background-position:left top;
  background-attachment:scroll;
  background-size:auto;
  background-image:linear-gradient(white 0%, white 100%);
  width:180%;
}
#izkt1{
  margin:20% 0px 0px 0px;
}
#iqit6{
  margin:20% 0 0 0;
}
#imv6n-3{
  width:20%;
  margin:0 0 0 80%;
}
#idwt7-3{
  border-radius:15px 15px 15px 15px;
  background-repeat:repeat;
  background-position:left top;
  background-attachment:scroll;
  background-size:auto;
  background-image:linear-gradient(white 0%, white 100%);
  box-shadow:0px 0px 1px 0px black ;
  font-size:15px;
}
#ih3zn-3{
  border-radius:15px 15px 15px 15px;
  border:0 solid black;
  background-repeat:repeat;
  background-position:left top;
  background-attachment:scroll;
  background-size:auto;
  background-image:linear-gradient(#0159a1 0%, #0159a1 100%);
  color:white;
  font-size:15px;
}
@media (max-width: 768px){
  .gjs-row{
    flex-wrap:wrap;
  }
}
#plan-list {
  display: flex;
  flex-direction: column;
}

.PlanItem {
  width: 100%;
}


#ilh64g{
  object-fit:fill;
}

#ipbh{
  height:100vh;
}

#igqg{
  padding: 0%;
}

#ilh64g{
  height: 100vh;
}
